{% extends 'index.html' %} 

{% block content %}

<!-- Page Content -->
<div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4"></h1>
        <!-- <div class="list-group">
          <a href="#" class="list-group-item active"></a>
          <a href="#" class="list-group-item"></a>
          <a href="#" class="list-group-item"></a>
        </div> -->
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="{{ informacao.info_carro.carr_pic.url }}" alt="">
          <div class="card-body">
            <h3 class="card-title">Modelo: {{ informacao.info_carro.modelo }}</h3>
            <h4> Marca: {{ informacao.info_carro.marca_carro_fk.marca }} </h4>
            <p class="card-text">Cor: {{ informacao.info_carro.cor_carro_fk.cor }}</p>  
            <p class="card-text">Tempo de uso: {{ informacao.tempo_de_uso }}</p>
            <p class="card-text">Quilometragrem: {{ informacao.km_rodados }} </p>
            
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Descrição do Carro
          </div>
          <div class="card-body">
            <p> {{ informacao.descricao_carro }}.</p>
            
            <hr>
            {% if user.is_authenticated %}
            <a href="#" class="btn btn-primary">Alugar este carro.</a>
            {% endif %}
          </div>

        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->
      <!-- /.container -->

{% endblock %}