{% extends 'index.html' %} {% block content %}
<!-- Page Content -->
<div class="container">

  {% if user.is_authenticated %}
  <h1 class="my-4" style="text-align:center;"> Encontre um carro agora, {{ user.first_name }} {{user.last_name}} ! {% endif %}
  </h1>

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header" style="text-align:center;">Conforto de Casa</h4>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header" style="text-align:center;">Menos Burocracia</h4>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi
            similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum
            sint fuga.</p>
        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header" style="text-align:center;">Preços Justos</h4>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Portfolio Section -->
  <h2 style="text-align:center;"> Veja algumas ofertas</h2>

  <div class="row">
    {% for carro in object_list %}
    {% if not carro.alugado %}
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#">
          <img class="card-img-top" src="{{ carro.carr_pic.url }}" alt="">
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{ carro.modelo }}</a>
          </h4>
          <p class="card-text">
            <li> {{carro.ano}} </li>
            <li> {{carro.cor_carro_fk.cor}} </li>
            <li> {{carro.marca_carro_fk.marca}} </li>
            <li> Carro disponível </li>
          </p>
        </div>
        <div class="card-footer"> 
        <a class="btn btn-primary" href="{{ carro.get_absolute_url }}" role="button">Ver Detalhes</a>
        {% if user.is_authenticated %}
        <a class="btn btn-info" href="#" role="button">Alugar</a>
        {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}  
  </div>
  <!-- /.row -->

  <!-- Features Section -->
  {% comment %}
  <div class="row">
    <div class="col-lg-6">
      <h2>Modern Business Features</h2>
      <p>The Modern Business template by Start Bootstrap includes:</p>
      <ul>
        <li>
          <strong>Bootstrap v4</strong>
        </li>
        <li>jQuery</li>
        <li>Font Awesome</li>
        <li>Working contact form with validation</li>
        <li>Unstyled page elements for easy customization</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam
        totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
    </div>
  </div> {% endcomment %}
  <!-- /.row -->

  <hr>

  <!-- Call to Action Section -->
  {% comment %}
  <div class="row mb-4">
    <div class="col-md-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam
        harum neque nemo praesentium cum alias asperiores commodi.</p>
    </div>
    <div class="col-md-4">
      <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
    </div>
  </div> {% endcomment %}

</div>
<!-- /.container -->
{% endblock %}